{% extends "base.html" %}

{% block content %}

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>Hello, {{ user.username }}!</h1>
                <p>少壮不努力,老大徒伤悲.</p>
                <form class="button-form pull-left" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="title" value="{{ task.title }}">
                    <input type="hidden" name="content" value="{{ task.content }}">
                    <input type="hidden" name="expire_date"
                           value="{{ task.expire_date.year }}-{{ task.expire_date.month }}-{{ task.expire_date.day }}">
                    <input type="hidden" name="finished" value="1">
                    <input type="hidden" name="priority" value="{{ task.priority }}">
                    <button class="btn btn-success">
                        Finish Task
                    </button>
                </form>
                <form class="button-form" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger submit" style="margin-left: 2em">
                        Delete Task
                    </button>
                </form>
            </div>

            {% if task %}
                <div class="row">

                    {% if task.finished == 0 %}
                        <div class="panel panel-info">
                            <!-- Default panel contents -->
                            <div class="panel-heading">{{ task.title }}</div>
                            <div class="panel-body">
                                <span class="label label-info"> 任务内容：</span>
                                {{ task.content }}
                            </div>

                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><span
                                        class="label label-info"> 创建时间： </span>{{ task.created|date:'Y-m-d H:i' }}
                                </li>
                                <li class="list-group-item"><span
                                        class="label label-info"> 结束时间： </span>{{ task.expire_date.year }}-{{ task.expire_date.month }}-{{ task.expire_date.day }}
                                </li>
                                <li class="list-group-item"><span
                                        class="label label-info"> 优先级： </span>{{ task.priority }}</li>

                            </ul>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">修改任务</div>
                            <div class="panel-body">
                                <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                                     {% csrf_token %}
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Title</label>
                                            <div class="col-sm-10">
                                                <input name="title" class="form-control" placeholder="{{ task.title }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Content</label>
                                            <div class="col-sm-10">
                                                <textarea name="content" class="form-control"
                                                          placeholder="{{ task.content }}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-sm-2 control-label ">Expire_time:</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control" name="expire_date" placeholder="{{ task.expire_date }}">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-sm-2 control-label ">Priority:(0-4)</label>
                                            <div class="col-sm-10">
                                                <input name="priority" class="form-control" placeholder="{{ task.priority }}">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button name="_method" value="PUT" class="btn btn-primary">PUT</button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-success">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><h2>恭喜你已经完成该任务！</h2></div>
                            <div class="panel-body">
                                <span class="label label-info"> 任务内容：</span>
                                {{ task.content }}
                            </div>

                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><span
                                        class="label label-info"> 创建时间:</span>{{ task.created|date:'Y-m-d H:i' }}
                                </li>
                                <li class="list-group-item"><span
                                        class="label label-info"> 结束时间： </span>{{ task.expire_date.year }}-{{ task.expire_date.month }}-{{ task.expire_date.day }}
                                </li>
                                <li class="list-group-item"><span class="label label-info"> 优先级： </span>Star</li>

                            </ul>
                        </div>
                    {% endif %}

                </div><!--/row-->
            {% else %}
                <div class="panel panel-success">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h2>已经删除该任务！</h2></div>
                </div>
            {% endif %}
        </div><!--/.col-xs-12.col-sm-9-->


    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2017</p>
    </footer>

{% endblock %}

